
<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>

		<link rel="shortcut icon" href="images/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>


<body>
	<header id="header">
		<% include ../partials/header %>
	</header>
	<!--/header-->

	<section class="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
					<li>
						<a href="#">Home</a>
					</li>
					<li class="active">Shopping Cart</li>
				</ol>
			</div>
			<form action="/shop/cart" method="POST">
			<div class="col-md-8 cart-list-product">
				<div class="table-responsive cart_info">
					<table class="table table-condensed">
						<thead>
							<tr class="cart_menu">
								<td class="image ">Item</td>
								<td class="description ">Name</td>
								<td class="price ">Price</td>
								<td class="quantity ">Quantity</td>
								<td class="total ">Total</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<% 
							for( let i in cart.items ) {
								
							%>
							<tr>
								<td class="cart_product">
										<img style="height: 100px; width: 100px" src="/images/shop/<%= cart.items[i].item.images[0] %>">
								</td>
								
								<td class="cart_description">
									<h4>
										<%= cart.items[i].item.name %>
										
									</h4>
						
								</td>
								<td class="cart_price">
									<p><%= cart.items[i].price %></p>
								</td>
								<td class="cart_quantity">
									<div class="cart_quantity_button">
										<a href="/shop/add-in-cart/<%=i%>">+</a>
											<input class="cart_quantity_input" type="text" name="quantity" value="<%= cart.items[i].qty %>" autocomplete="off" min="1" id="" size="2">
										<a href="/shop/delete-in-cart/<%=i%>">-</a>
										</div>
								</td>
								<td class="cart_total">
									<p class="cart_total_price"><%= cart.items[i].price %></p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" href="/shop/cart-delete-item/<%= i %>">
										<i class="fa fa-times"></i>
									</a>
								</td>
							</tr>
							<input type="text" hidden id="itemId" value="<%= i %>">
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-4 cart-info">
				<div class="total_area">
					<h4 class="text-uppercase">ORDER SUMARY</h4>
					<ul>
						<li>Quantity
							<span><%= cart.totalQty %></span>
						</li>
						<li>Cart Sub Total
							<span><%= cart.totalPrice %>đ</span>
						</li>
						<li>Eco Tax
							<span>0đ</span>
						</li>
						
						<li>Total
							<span><%= cart.totalPrice %></span>
						</li>
					</ul>
					<a href="/shop/checkout" type="button" class="btn btn-w-m btn-warning">Check Out</a>
					
				</div>
			</div>
		</form>
		</div>
	</section>
	<!--/#cart_items-->



	<footer id="footer">
		<!--Footer-->
		<% include ../partials/footer %>
	</footer>

	<% include ../partials/head %>

		<script>
			function plus(id) {
				var count = document.getElementById(id).value;
				document.getElementById(id).value = count + 1;
			}

			function increaseItem() {
				console.log('clicked')
				$.ajax({
					type: 'GET',
					url: 'http://localhost:3000/shop/add-to-cart/'
				})
			}

			function decreaseItem() {

			}
		</script>
</body>

</html>
