<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
		<link href="/stylesheet/_owl.carousel.min.css" rel="stylesheet">
</head>
<!--/head-->

<body>
	<header id="header">
		<% include ../partials/header %>
	</header>

	<section class="es-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<% include ../partials/category %>
					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="product-details">
						<!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="/images/shop/<%=product.images[0] %>" alt="" />
							</div>
						</div>

						<form method="POST" action="#">
							<div class="col-sm-6">
								<div class="product-information">
									<!--/product-information-->
									<h2>
										<%= product.name %>
									</h2>

									<span>
										<span>
											<%= product.price %> ₫</span>
										<label>Quantity:</label>
										<input type="number" value="1" name="quantity" min="1" />

										<select class="form-control" name="size">
											<option selected>XS</option>
											<option>S</option>
											<option>M</option>
											<option>L</option>
											<option>XL</option>
										</select>

									</span>
									<p>
										<b>Availability:</b>
										<% if (product.quantityInStock > 0) { %>
											In Stock
											<% } else { %>
												Out of Stock
												<% } %>

													<a href="/shop/add-to-cart/<%= product._id %>" type="button" class="btn btn-fefault cart">
														<i class="fa fa-shopping-cart"></i>
														Add to cart
													</a>
									</p>

								</div>
						</form>
						<!--/product-information-->
						</div>
					</div>
					<!--/product-details-->

					<div class="category-tab shop-details-tab">
						<!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li>
									<a href="#details" data-toggle="tab">Details</a>
								</li>
								<li>
									<a href="#reviews" data-toggle="tab">Reviews (5)</a>
								</li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane active in fade" id="details">
								<div class="col-sm-3">

								</div>
							</div>

							<div class="tab-pane fade active in" id="reviews">
								<div class="col-sm-12">
									<ul>
										<li>
											<a href="#">
												<i class="fa fa-user"></i>EUGEN</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-clock-o"></i>12:41 PM</a>
										</li>
										<li>
											<a href="#">
												<i class="fa fa-calendar-o"></i>31 DEC 2014</a>
										</li>
									</ul>
									<b>Write Your Review</b>
									</p>

									<form action="#">
										<span>
											<input type="text" placeholder="Your Name" />
											<input type="email" placeholder="Email Address" />
										</span>
										<textarea name=""></textarea>
										<b>Rating: </b>
										<img src="/images/product-details/rating.png" alt="" />
										<button type="button" class="btn btn-default pull-right">
											Submit
										</button>
									</form>
								</div>
							</div>

						</div>
					</div>
					<!--/category-tab-->
				</div>
			</div>
			
		</div>
		<div class="row">
				<h2 class="title text-center">Sản phẩm hot</h2>

				<div class="col-sm-4 col-md-2">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="/images/shop/<%=product.images[0] %>" alt="">
								<h2>$56</h2>
								<p>Easy Polo Black Edition</p>
								<a href="#" class="btn btn-default add-to-cart">
									<i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
							<div class="product-overlay">
								<div class="overlay-content">
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
							</div>
						</div>
						<div class="choose">
							<ul class="nav nav-pills nav-justified">
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to wishlist</a>
								</li>
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to compare</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-2">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="/images/shop/<%=product.images[0] %>" alt="">
								<h2>$56</h2>
								<p>Easy Polo Black Edition</p>
								<a href="#" class="btn btn-default add-to-cart">
									<i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
							<div class="product-overlay">
								<div class="overlay-content">
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
							</div>
						</div>
						<div class="choose">
							<ul class="nav nav-pills nav-justified">
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to wishlist</a>
								</li>
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to compare</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-2">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="/images/shop/<%=product.images[0] %>" alt="">
								<h2>$56</h2>
								<p>Easy Polo Black Edition</p>
								<a href="#" class="btn btn-default add-to-cart">
									<i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
							<div class="product-overlay">
								<div class="overlay-content">
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
							</div>
						</div>
						<div class="choose">
							<ul class="nav nav-pills nav-justified">
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to wishlist</a>
								</li>
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to compare</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-2">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="/images/shop/<%=product.images[0] %>" alt="">
								<h2>$56</h2>
								<p>Easy Polo Black Edition</p>
								<a href="#" class="btn btn-default add-to-cart">
									<i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
							<div class="product-overlay">
								<div class="overlay-content">
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
							</div>
						</div>
						<div class="choose">
							<ul class="nav nav-pills nav-justified">
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to wishlist</a>
								</li>
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to compare</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-2">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="/images/shop/<%=product.images[0] %>" alt="">
								<h2>$56</h2>
								<p>Easy Polo Black Edition</p>
								<a href="#" class="btn btn-default add-to-cart">
									<i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
							<div class="product-overlay">
								<div class="overlay-content">
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
							</div>
						</div>
						<div class="choose">
							<ul class="nav nav-pills nav-justified">
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to wishlist</a>
								</li>
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to compare</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-2">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="/images/shop/<%=product.images[0] %>" alt="">
								<h2>$56</h2>
								<p>Easy Polo Black Edition</p>
								<a href="#" class="btn btn-default add-to-cart">
									<i class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
							<div class="product-overlay">
								<div class="overlay-content">
									<h2>$56</h2>
									<p>Easy Polo Black Edition</p>
									<a href="#" class="btn btn-default add-to-cart">
										<i class="fa fa-shopping-cart"></i>Add to cart</a>
								</div>
							</div>
						</div>
						<div class="choose">
							<ul class="nav nav-pills nav-justified">
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to wishlist</a>
								</li>
								<li>
									<a href="">
										<i class="fa fa-plus-square"></i>Add to compare</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
	</section>

	<footer id="footer">
		<% include ../partials/footer %>
	</footer>

	<% include ../partials/js %>
		<script src="/javascripts/owl.carousel.min.js"></script>
		<script src="/javascripts/function.js"></script>
</body>

</html>