<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<header id="header"><!--header-->
		<% include ../partials/header %>
	</header>
	
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<% include ../partials/category %>
						<% include ../partials/priceranger %>						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items product-line"><!--features_items-->
						<h2 class="title text-center">Item 1</h2>
						<% products.forEach(e => { %>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src=" /images/shop/<%=e.images[0] %>" alt="" />
										<h2><%= e.price %>₫</h2>
										<p><%= e.name %></p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										<a href="/shop/product/<%= e._id %>" class="btn btn-default add-to-cart"></i>View</a>										
									</div>
								</div>
							</div>
						</div>
						<% }) %>
					</div><!--features_items-->
					
				</div>
			</div>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<% if (pages > 0) { %>
						<ul class="pagination">
							<% if (current == 1) {%>
								<li class="disabled"><a>First</a></li>
							<% } else { %>
								<li><a href="../shop/<%= productlines %>/1">First</a></li>
							<% } %>
							
							<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
							<% if (i !== 1) { %>
								<li class="disabled"><a>...</a></li>
							<% } %>
							<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
								<% if (i == current) { %>
									<li class="active"><a><%= i %></a></li>
								<% } else { %>
									<li><a href="/shop/<%= productlines %>/<%= i %>"><%= i %></a></li>
								<% } %>
								<% if (i == Number(current) + 4 && i < pages) { %>
									<li class="disabled"><a>...</a></li>
								<% } %>
							<% } %>

							<% if (current == pages) { %>
								<li class="disabled"><a>Last</a></li>
							<% } else { %>
								<li><a href="/shop/<%= productlines %>/<%= pages %>"><</a></li>
							<% } %>
						</ul>
						<% } %>
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->	
		<% include ../partials/footer %>
	</footer><!--/Footer-->

	<% include ../partials/js %>
</body>
</html>